.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);

    z-index: 10;
}
.header-left-section{
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}


.header-middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(196,196,196);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder{
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(232, 232, 232);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196,196,196);
    margin-left: -1px;
    margin-right: 10px;
}
.search-button,
.voice-search-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
    opacity: 1;
}

.search-button-icon{
    height: 25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(242, 242, 242);
}
.voice-search-button-icon{
    height: 24px;
}


.header-right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 2, 2);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    border-radius: 50%;
    padding: 2px 5px;
}
.notifications-icon{
    height: 24px;
}
.my-channel-icon{
    height: 32px;
    border-radius: 50%;
    margin-right: 15px
}

