.media-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding-left: 24px;
    padding-right: 30px;
    padding-top: 24px;
    background-color: rgb(246, 246, 246);
    padding-bottom: 100px;
}
@media (max-width: 750px){
    .media-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 751px) and(max-width: 1199px){
    .media-grid{
        grid-template-columns: 1fr 1f 1fr;
    }
}
@media (min-width: 1200px){
    .media-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.video-thumbnail-row{
    position: relative;
}
.thumbnail{
    width: 100%;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 12px;
}
.channel-picture{
    width: 90%;
    border-radius: 50%;
    margin-top: 8px;
}



.video-title{
    font-weight: 500;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.video-author{
    color: rgb(96,96,96);
    margin-bottom: 4px;
    font-size: 12px;
}
.video-stats{
    color: rgb(96,96,96);
    font-size: 12px;
}
